{% extends 'base.html.twig' %}

{% block title %}Status index{% endblock %}

{% block body %}
    <h1>Status index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Value</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.slug }}</td>
                <td>{{ status.value }}</td>
                <td style=" width : 50px; height : 50px; background : {{ status.color }};"></td>
                <td>
                    <a href="{{ path('status_show', {'id': status.id}) }}"><button type="button" class="btn btn-info">Show</button></a>
                    <a href="{{ path('status_edit', {'id': status.id}) }}"><button type="button" class="btn btn-primary">Edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('status_new') }}"><button type="button" class="btn btn-success">New</button></a>
{% endblock %}
