{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Intitulé</th>
      <th scope="col">Description</th>
      <th scope="col">Consulter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gestion des utilisateurs</td>
      <td>Permet de gérer les utilisateurs du site</td>
      <td><a href="{{path('user_index')}}"><button type="button" class="btn btn-danger">Les utilisateurs</button></a></td>
    </tr>
    <tr>
      <td>Gestion des équipes</td>
      <td>Permet de gérer les équipes</td>
      <td><a href="{{path('team_index')}}"><button type="button" class="btn btn-danger">Les équipes</button></a></td>
    </tr>
    <tr>
      <td>Gestion des status</td>
      <td>Permet de gérer les status</td>
      <td><a href="{{path('status_index')}}"><button type="button" class="btn btn-danger">Les status</button></a></td>
    </tr>
    <tr>
      <td>Gestion des risques</td>
      <td>Permet de gérer les risques</td>
      <td><a href="{{path('risk_index')}}"><button type="button" class="btn btn-danger">Les risques</button></a></td>
    </tr>
    <tr>
      <td>Gestion des probabilités</td>
      <td>Permet de gérer les probabilités</td>
      <td><a href="{{path('probability_index')}}"><button type="button" class="btn btn-danger">Les probabilités</button></a></td>
    </tr>
    <tr>
      <td>Gestion des sévérités</td>
      <td>Permet de gérer les sévérités</td>
      <td><a href="{{path('severity_index')}}"><button type="button" class="btn btn-danger">Les sévérités</button></a></td>
    </tr>
    <tr>
      <td>Gestion des faits</td>
      <td>Permet de gérer les faits</td>
      <td><a href="{{path('fact_index')}}"><button type="button" class="btn btn-danger">Les faits</button></a></td>
    </tr>
    <tr>
      <td>Gestion des jalons</td>
      <td>Permet de gérer les jalons</td>
      <td><a href="{{path('milestone_index')}}"><button type="button" class="btn btn-danger">Les jalons</button></a></td>
    </tr>
    <tr>
      <td>Gestion des portefeuilles</td>
      <td>Permet de gérer les portefeuilles</td>
      <td><a href="{{path('wallet_index')}}"><button type="button" class="btn btn-danger">Les portefeuilles</button></a></td>
    </tr>
  </tbody>
</table>


{% endblock %}
