{% extends 'base.html.twig' %}

{% block title %}Milestone index{% endblock %}

{% block body %}
    <h1>Milestone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>State</th>
                <th>Date_obtain</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for milestone in milestones %}
            <tr>
                <td>{{ milestone.id }}</td>
                <td>{{ milestone.name }}</td>
                <td>{{ milestone.value }}</td>
                <td>{{ milestone.state ? 'Yes' : 'No' }}</td>
                <td>{{ milestone.dateObtain ? milestone.dateObtain|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('milestone_show', {'id': milestone.id}) }}">show</a>
                    <a href="{{ path('milestone_edit', {'id': milestone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('milestone_new') }}">Create new</a>
{% endblock %}
