{% extends 'base.html.twig' %}

{% block title %} {{ parent() ~ ' - '~  project.name}} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('project') }}
{% endblock %}

{% block javascripts %}
 {{ parent() }} 
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <h1 class="my-project" data-project-id="{{ project.id }}">Intitulé : {{ project.name }}</h1>
    <h3>Description : </h3> <p>{{project.description}}</p>
    <h3>Budget de :  </h3><p>{{project.budget.initialValue}} € </p>
    <h3>Commencé le : </h3><p>{{project.startedAt ? project.startedAt|date('d/m/Y') : ' '}}</p>
    <h3>Terminé le : </h3><p>{{project.endedAt ? project.endedAt|date('d/m/Y') : ' '}}</p>
    

{% endblock %}